.accentButton {
    position: absolute;
    bottom: 55px; /* Расстояние от нижнего края */
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 65px;
    background-color: #3A31D8;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    border-radius: 15px;
    transition: background-color 0.3s; /* Добавляем анимацию для изменения цвета фона */
}

.accentButton:hover {
    background-color: #5245ff; /* Новый цвет фона при наведении */
}

.accentButton:active {
    background-color: #1e1883; /* Новый цвет фона при клике */
}
